# 絶対
.gitattributes merge=ours
config.toml merge=ours

# 同期
.github/workflows/sync_upstream.yml merge=ours
.github/workflows/upstream_to_main.yml merge=ours

# ドキュメント
README.md merge=ours
README_JP.md merge=ours