# 設定系
.gitattributes merge=ours
.gitignore merge=ours
config.toml merge=ours

# ドキュメント
README.md merge=ours
README_JP.md merge=ours

# CI
.github/** merge=ours

# シェル系
build.sh merge=ours
module/customize.sh merge=ours
utils.sh merge=ours